.container
  h1 All Seasons
  div.text-right(style="margin-bottom: 20px;", ng-if="isCustomGamesSection()")
    a.btn.btn-primary(ui-sref='editor')
      span.glyphicon.glyphicon-plus
      |  Create New Custom Game
  table.table.table-striped.table-hover.table-bordered
    tr
      th Name
      th Description
      th Note
    tr(ng-repeat='season in data')
      td
        a(ui-sref='season({ id: season.id })') {{ season.name }}
      td {{season.description}}
      td {{season.note}}
